[submodule "app/vendor/glfw"]
	path = app/vendor/glfw
	url = https://github.com/preversewharf45/glfw
[submodule "app/vendor/prevmath"]
	path = app/vendor/prevmath
	url = https://github.com/preversewharf45/PrevMath/
[submodule "app/vendor/freetype"]
	path = app/vendor/freetype
	url = https://github.com/preversewharf45/freetype2
[submodule "app/vendor/freetype-gl"]
	path = app/vendor/freetype-gl
	url = https://github.com/preversewharf45/freetype-gl
[submodule "app/vendor/lua"]
	path = app/vendor/lua
	url = https://github.com/preversewharf45/lua
[submodule "app/vendor/imgui"]
	path = app/vendor/imgui
	url = https://github.com/preversewharf45/imgui
